body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  overflow-y: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: auto 10%;
  position: fixed;
  width: 100%;
  z-index: 20;
}
nav .menu {
  transform: translateX(-200px);
}
nav .menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav .menu ul li {
  padding-right: 20px;
}
nav .menu ul li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
main {
  height: 100vh;
  display: flex;
}
main section {
  margin-right: 20px;
}
#home .intro {
  position: relative;
  top: 50%;
  left: 10%;
  width: 50vw;
}
#home .arrow-area {
  width: 50vw;
}
#more {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  padding: 20px;
}
#more .more-cases {
  padding-top: 50%;
  padding: 15px;
  background: #ddd;
  margin: 10% 20%;
}
#more .more-cases h2 {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 100;
}
#more .arrow-area i.arrow.right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 50px;
  height: 50px;
  transform: rotate(-45deg) translate(-150px, 250px);
  animation: move 2s both ease infinite;
}
#cases {
  display: flex;
  justify-content: space-around;
}
#cases .case {
  padding: 30px;
  width: 50vw;
  height: 100vh;
  transition: .5s;
}
#cases .case:hover ~ img {
  border: 5px dashed white;
}
#cases .case img {
  position: relative;
  width: 70%;
  top: 50%;
  height: 50%;
  left: 10%;
  transition: .5s;
}
#cases .case img:hover {
  border: 5px dashed white;
}
#cases .case.light h1 {
  color: #000;
}
#cases .case.light p {
  color: #000;
}
#cases .case.dark h1 {
  color: #fff;
}
#cases .case.dark p {
  color: #fff;
}
.dark {
  background: #333333;
}
.light {
  background: #cccccc;
}
.animated {
  position: absolute;
  height: 100vh;
  background: #333333;
  top: 0;
  right: 0;
  animation: slide 2s both ease;
}
main#about {
  display: flex;
}
main#about .dark {
  padding: 20px;
}
main#about .dark p {
  position: relative;
  top: 65%;
  color: #fff;
}
main#about .light {
  padding: 20px;
}
main#about .light .about-desc {
  position: relative;
  top: 65%;
  color: #000;
}
@keyframes move {
  from {
    margin-left: -20px;
  }
  to {
    margin-left: 50%;
  }
}
@keyframes slide {
  0% {
    width: 100%;
  }
  20% {
    width: 80%;
  }
  50% {
    width: 60%;
  }
  70% {
    width: 50%;
  }
  80% {
    width: 30%;
  }
  85% {
    width: 20%;
  }
  90% {
    width: 15%;
  }
  95% {
    width: 10%;
  }
  100% {
    width: 0;
  }
}
