@font-family:'Varela Round';

@main-color:#CE7640;

body{
    margin:0;
    padding:0;
    font-family:@font-family,sans-serif;
    //overflow-y: hidden !important;
    font-weight: 300;
    font-size:20px;
    width:100vw;
    height:100vh;
}
@media(max-width:750px){
    body{
        overflow-y:hidden;
    }
}


.toggle{
    display: flex;
    button{
        margin:auto;
        background: transparent;
        border:none;
        outline:none;
        .line{
            width:40px;
            height:2px;
            background: #000;
            margin-bottom: 8px;
        }
        .line.two-third{
            width:calc(80px/3);
        }
        .line.two-third.second{
            transform:translateX(-8px);
        }
        @media(max-width:750px){
            .line{
                width:30px;
            }
            .line.two-third{
                width:20px;
            }
        }
    }
}
.menu-sm{
    position:absolute;
    top:0%;
    height:100%;
    padding:20px;
    display: none;
    background:#fff;
    width:100%;
    z-index:99;
    
    .nav-div{
        display:flex;
        justify-content:space-between;
        margin:auto 10%;
        @media(min-width:751px){
            transform: translateY(10px);
        }
        h1{
            font-size:20px;
            a{
                text-decoration:none;
                color:#000;
            }
        }
        button{
            
            background:transparent;
            padding: 20px;
            border:none;
            outline: none;
            i.fa{
                color:#000;
                position: relative;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                font-size:30px;
            }
        }
    }

    
    @media(min-width:751px){
        ul{
            margin:auto;
        }
    }
    ul{
        list-style:none;
        transform:translate(30%,50%);
        margin-top:10%;
        li{
            &:hover{
                a{
                    color:#CE7640;
                }
            }

            margin-bottom: 30px;
            a{
                text-decoration: none;
                color:#000;
            }
        }
    }
}

nav{
    margin:auto 10%;
    display:flex;
    padding:auto 10%;
    z-index:5;
    justify-content:space-between;
    .brand{
        h1{
            a{
                text-decoration: none;
                color:#000;
            }
        }
    }
    
}
main{
    position:relative;
    height:100vh;
    display: flex;
    section{
        margin-right:20px;
    }
}
@media(max-width:750px){
    main{
       margin:0;
       padding:0;
    }
}
#home{
     width:100vw;
     display: flex;
     @media(max-width:750px){
         .intro{
             width:100vw;
             padding:30px;
             position: absolute;
             top:20%;
             left:0;
             margin-right:30px;
             margin-left:-70%;
             h2{
                 line-height:1.5rem;
             }
         }
         #more{
             display: none;
         }
     }
    .intro{
        position: relative;
        top:50%;
        left:10%;
        width:80vw;
        animation:slideUp 2s both ease;
        animation-delay: 5s;
        h2{
            font-weight:100;
            font-size:20px;
        }
        
    }
    @media(max-width:750px){
        .intro{
            left:70%;
        }
    }
    #more{
        width:20vw;
    }
    
}

#more{
    display: flex;
    justify-content: space-around;
    width:50vw;
    padding:20px;
    .more-cases{
        padding-top:50%;
        padding:15px;
        background: #ddd;
        margin:30% 50%;
        animation:fadeLeft 3s both ease;
        animation-delay: 6s;
        h2{
            transform:rotate(-90deg);
            margin-top:80%;
            text-transform:uppercase;
            font-size:18px;
            font-weight: 100;
            line-height:1.5rem;
        }
    }

    .arrow-area{
        display: inline-block;
        i.arrow.right{
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            width:50px;
            height: 50px;
            transform: rotate(-45deg) translate(-250px,250px);
            animation:move 2s both ease infinite;
        }
    }
}

@media(max-width:750px){
    #cases{
        transform:translateY(-25%);
        .case{
            height:80vh;
            width:100vw !important;
            position:relative;
            padding:0;
            img{
                position:relative;
                width:100%;
                height:100px;
            }
        }
    }
}
#cases{
    display: flex;
    justify-content:space-around;
    .case{
        padding:30px;
        width:50vw;
        height:100vh;
        transition: .5s;
        &:hover ~ img{
            border:5px solid white;
            transform:scale(.9);
        }
        
        img{
            position: relative;
            width:70%;
            top:50%;
            height:50%;
            left:10%;
            transition:.5s;
            &:hover{
                transform:scale(.9);
            }
        }
        .case-title{
            text-transform: uppercase;
            padding-bottom: 10px;
            border-bottom: 3px solid #eee;
            font-size:20px;
        }
        p{
            font-size:18px;
        }
    }

    .case.light{
        h1{
            color:#000;
        }
        p{
            color:#000;
        }
    }
    
    .case.dark{
        h1{
            color:#fff;
        }
        p{
            color:#fff;
        }
    }
}
.dark{
    background:@main-color;
}

.light{
    background: #fff;
}

.animated{
    position:absolute;
    height:100vh;
    top:0;
    left:0;
    display: flex;
    .animated-right{
        position: relative;
        height:100vh;
        background:#000;
        top:0;
        left:0;
        width:100vw;
        animation: slideBack 2s both ease;
    }
}

.transition{
    position:absolute;
    height:100%;
    display: flex;
    background:#000;
    transform: translateX(0);
    width:100%;
    .closest;
    box-shadow: 10px 10px 5px #eaeaea;
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
    .welcome-text{
        margin:auto;
        color:#fff;
        animation:simplyFade 4s both ease;
    }
}
main#about{
    animation:simplyFade 3s both ease;
    animation-delay:5s;
    display: flex;
    z-index:-2;
    width:200vw;
    .dark{
        padding:20px;
        h1{
            transform:translateY(30%);
        }
        p{
            position: relative;
            top:25%;
            color:#fff;
        }
        &:nth-child(1){
            width:50%;
        }
    }
    @media(max-width:750px){
        .dark{
            width:100vw !important;
            h1{
                color:#fff;
            }
            p{
               top:30%;
               line-height:1.5rem;
            }
        }
        .light{
            width:100vw !important;
            color:#000;
            h1{
                transform: translateY(-50%);
                line-height:1.3rem;
                display: inline-block;
            }
            p{
                display: inline-block;
                margin-top:50px;
                top:10%;
                line-height:1.5rem;
                transform:translateY(-30%);
            }
        }
    }
    .light{
        padding:20px;
        .about-desc{
            position: relative;
            top:25%;
            color:#000;
        }
    }
}

@media(max-width:750px){
    main#about{
        width:400vw;
        .light{

        }
    }
}
.anim-trans {
    animation: mainTrans 1s both ease-in-out;
    animation-delay: 4s;
    }
@keyframes mainTrans{
    to{
        opacity:0;
        z-index:-100;
    }
}

.loader{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    //background: #0c1025;
    width:150px;
    height:150px;
    span{
        position: absolute;
        width:50px;
        height:50px;
        background:#fff;
        border-radius: 4px;
        animation:load 2s linear infinite;
        &:nth-child(1){
            animation-delay: 0s;
        }
        &:nth-child(2){
            animation-delay:-0.667s;
        }
        &:nth-child(3){
            animation-delay:-1.33s;
        }
    }
}

main#contact{
    animation:simplyFade 3s both ease;
    animation-delay:5s;
    @media(max-width:750px){
        .contact-area{
            top:5%;
            left:0;
            width:100%;
            margin:auto 5%;
            transform:translate(-30%,-30%);
        }
    }
    @media(max-width:1023px){
        .contact-area{
            transform:translate(-25%,-30%);
            margin:auto 10%;
        }
    }
    .contact-area{
        padding:20px;
        position:relative;
        top:20%;
        left:20%;
        form{
            .input-grp{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                input{
                    height:30px;
                    width:40%;
                    border:1px solid #111216;
                    border-radius:5px;
                    padding:10px;
                    &:nth-child(2){
                        transform:translateX(20px);
                    }
                }
            }
            textarea{
                position: relative;
                width:100%;
                border:1px solid #111216;
                border-radius:5px;
                padding:10px;
            }
            input[type=submit]{
                border:1px solid #111216;
                border-radius:5px;
                padding: 20px 30px;
                background:transparent;
            }
        }
    }
}

.prev,.next{
    width:55px;
    height:55px;
    background: transparent;
    border-radius: 50%;
    border:2px solid #fff;
    outline:none;
    display:flex;
    i.fa{
        margin:auto;
        font-size:22px;
        color:#fff;
    }
}

main#case{
    position: absolute;
    width:100vw;
    height:80%;
    top:15%;
    left:0;
    display:flex;

    .btn-scroll{
        position:absolute;
        top:75%;
        left:40%;
    }
    .dark{
        background:#000;
        display: flex;
        width:50vw;
        padding:20px;
        animation:meetright 5s 1s both ease;
        p{
            margin:auto;
            color:#fff;
            padding: auto;
        }
    }
    .dark-desc{
        width:50vw;
        animation:meetleft 5s 1s both ease;
        .desc-bg{
            position: relative;
            width:100%;
            height:50%;
            background:url(https://images.pexels.com/photos/1113188/pexels-photo-1113188.jpeg?auto=compress&cs=tinysrgb&h=350) no-repeat;
            background-size:cover;
            transition:1s;
            &:hover{
                filter:contrast(50%);
            }
        }

        .desc-info{
            height:50%;
            width:100%;
            display: flex;
            background:#fff;
            padding:20px;
            p{
                margin:auto;
                color:@main-color;
                padding: auto;
            }
        }
    }
}

.closest{
    z-index:20;
}

.show-section-alt{
    z-index:11;
    .dark{
        animation:meetright 1s both ease-in;
    }
    .dark-desc{
        animation:meetleft 1s both ease-in;
    }
}

.show-section-rev{
    z-index:11;
    .product-desc{
        animation:meetleft 2s both ease-in;
    }
    .desc-info{
        animation:meetright 2s both ease-out;
    }
    
}
.show-section{
    z-index:11;
    animation:simplyFade 1s both ease-in;
    .product-desc{
        
        p{
            animation: simplyFade 4s 2s both ease;
        }
        img{
            animation:zoomUp 5s 2s both ease;
        }
    }
    .desc-info{
        animation:simplyFade 4s 2s both ease;
    }
}
@keyframes slideLeftRight{
    from{
        width:0;
    }
    to{
        width: 100%;
    }
}

@keyframes meetleft{
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes meetright{
    from{
        transform: translateX(-50%);
    }
    to{
        transform:translateX(0);
    }
}

@keyframes zoomUp{
    from{
        transform: translateY(25px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

#product{
    position:absolute;
    width:100vw;
    height:80vh;
    top:15%;
    left:0;
    transition: all 2s ease-in-out;
    display: flex;
    background: #fff;
    

    .btn-scroll{
        position: absolute;
        top:75%;
        left:40%;
    }

    .product-desc{
        flex-basis: 50vw;
        padding:30px;
        background: @main-color;
        color:#fff;
        animation:meetright 1s both ease;
        p{
            margin-bottom: 20px;

        }
        .product-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap:5px;
            img{
                width:150px;
                height:180px;
            }
            @media(max-width:750px){
                img{
                    width:100px;
                    height:120px;
                }
                
            }
        }

    }
    .product-info{
        flex-basis:50vw;
        position: relative;
        height: 100%;
        animation:meetleft 1s both ease;
        img{
            position: relative;
            width:100%;
            height: 100%;
        }
        
    }
}
main#case-detail{
    width:100vw;
    height:80vh;
    top:0%;
    left:0;
    background:url(https://images.pexels.com/photos/1113188/pexels-photo-1113188.jpeg?auto=compress&cs=tinysrgb&h=350) no-repeat;
    background-size:cover;
    transition: all 2s ease-in-out;
    animation: slideLeftRight 2s both ease;
    .case-info{
        position: relative;
        top:60%;
        left:50%;
        opacity: 0;
        animation:simplyFade 2s both ease;
        p{
            color:#fff;
            margin-bottom:50px;
        }
        .btn-scroll{
            transform:translateX(80%);
            position: relative;
        }
        @media(max-width:750px){
            left:10%;
        }
    }

    
}

.btn-scroll{
    width:60px;
    height:60px;
    display:flex;
    border:2px solid #fff;
    border-radius:50%;
    text-decoration: none;
    text-align: center;
    i.fa{
        margin:auto;
        color:#fff;
        font-size:25px;
    }
    margin-top:30px;
    
}
.btn-more{
    width:60px;
    height:60px;
    border-radius: 50%;
    border:2px solid #fff;
    display:flex;
    position:absolute;
    top:70%;
    left:40%;
    text-decoration: none;
    transition: .3s;
    &:hover{
        background:#fff;
        transform: rotate(90deg);
        i.fa{
            color:#000;
        }
    }
    i.fa{
        margin:auto;
        color:#fff;
        font-size:22px;
    }
}

#services{
    width:100vw;
    height:80%;
    background: @main-color;
    display: flex;

    .service-carousel{
        margin:auto;
        width:50%;
        p{
            text-align:center;
            text-transform: uppercase;
            font-size:22px;
            color:#fff;
        }
    }
}

  @keyframes anim{
       0% {
        transform:  translateX(0);
        width:100%;
        z-index:11;
        box-shadow: 10px 10px 5px #eaeaea;
        }
       20%  { 
           transform: translateX(0);
            width:100%;
            z-index:11;
            box-shadow: 10px 10px 5px #eaeaea;
         }

       40%   { 
           transform: translateX(0) scale(.6);
           width:100%;
            z-index:11;
            box-shadow: 10px 10px 5px #eaeaea;
        }

       60%   {
            transform: translateX(0) scale(.6);
            width:100%;
            z-index:11;
            box-shadow: 10px 10px 5px #eaeaea;
       }

       80%   {
            transform: translateX(0%) scale(.4);
            width:100%;
            z-index:11;
            box-shadow: 10px 10px 5px #eaeaea;
        }

       100%   { 
           //width:0%;
           z-index:1;
           box-shadow: none;
        }
  }
  

  @keyframes load{
      0%{
          top:0;
          left:0;
      }
      12.5%{
          top:0;
          left:50%;
      }
      25%{
          top:0;
          left:50%;
      }
      37.5%{
          top:50%;
          left:50%;
      }
      50%{
          top:50%;
          left:50%;
      }
      62.5%{
          top:50%;
          left:50%;
      }
      75%{
          top:50%;
          left:0;
      }
      87.5%{
          top:0;
          left:0;
      }
      100%{
          top:0;
          left:0;
      }
  }
  @keyframes simplyFade{
      from{
          opacity: 0;
      }
      to{
          opacity: 1;
      }
  }
@keyframes move{
    from{
        margin-left:-100px;    }
    to{
        margin-left:30%;    }
}

@keyframes slideUp{
    from{
        top:60%;
        opacity:0;
    }
    to{
        top:40%;
        opacity:1;
    }
}

@keyframes fadeLeft{
    from{
        transform:translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity:1;
    }
}

@keyframes resize{
    from{
        width:30%;
    }
    to{
        width:50%;
    }
}