@font-family:'Peddana', serif;


body{
    margin:0;
    padding:0;
    font-family:@font-family;
    overflow-y: hidden !important;
    font-weight: 300;
    font-size:20px;
    width:100vw;
    height:100vh;
}
@media(max-width:750px){
    body{
        overflow-y:hidden;
    }
}
.animated-home{
    position:absolute;
    bottom:0;
    left:0;
    width:100vw;
    height:100vh;
    display: none;
    background: #000;
    //animation:autoSwipe 5s both ease;

   
}

@media(max-width:750px){
    nav#nav-desktop{
        display: none;
        .brand{
            display: none;
            h1{
                display: none;
            }
        }
    }
}
.menu-sm{
    position:absolute;
    top:0%;
    height:100%;
    padding:20px;
    display: none;
    background:#000;
    width:100%;
    z-index:9999;

    button{
        width:40px;
        height:40px;
        background: #000;
        border:2px solid #fff;
        padding: 20px;
        i.fa{
            color:white;
            position: relative;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            font-size:18px;
        }
    }
    ul{
        list-style:none;
        li{
            a{
                text-decoration: none;
                color:#fff;
            }
        }
    }
}
@media(min-width:1024px){
    nav#nav-desktop{
        margin:auto 20%;
    }
}
nav#nav-desktop{
    display:flex;
    justify-content:space-between;
    margin:auto 10%;
    position: fixed;
    width:100vw;
    z-index:20;
    padding:30px;
    @media(max-width:750px){
        .brand{
            display:none;
        }
    }
    .brand{
        
    }
    

    
    @media (max-width:750px) {
        .menu{
            display: none;
        }
        
    }
    
    .menu{
        transform: translateX(-200px);
        ul{
            list-style:none;
            display: flex;
            justify-content: space-around;
            li{
                padding-right:20px;
                a{
                    text-decoration: none;
                    color:#000;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media(min-width:751px){
    nav#nav-mobile{
        display: none;
        .brand{
            display: none;
        }
        button{
            display:none;
        }
    }
}
nav#nav-mobile{
    margin:auto 10%;
    display:flex;
    padding:auto 10%;
    justify-content:space-between;
    .brand{

    }
    button{
        border:2px solid black;
        outline:none;
        background: white;
        width:40px;
        height:40px;
        transform: translateY(40px);
    }
}
main{
    position:relative;
    height:100vh;
    display: flex;
    section{
        margin-right:20px;
    }
}
@media(max-width:750px){
    main{
       margin:0;
       padding:0;
    }
}
#home{
     width:100vw;
     display: flex;
     @media(max-width:750px){
         .intro{
             width:100vw;
             padding:30px;
             position: absolute;
             top:20%;
             left:0;
             margin-right:30px;
             margin-left:-70%;
             h2{
                 line-height:1.5rem;
             }
         }
         #more{
             display: none;
         }
     }
    .intro{
        position: relative;
        top:50%;
        left:10%;
        width:80vw;
        animation:slideUp 2s both ease;
        animation-delay: 5s;
        h2{
            font-weight:100;
            font-size:29px;
        }
        
    }
    @media(max-width:750px){
        .intro{
            left:70%;
        }
    }
    #more{
        width:20vw;
    }
    
}

#more{
    display: flex;
    justify-content: space-around;
    width:50vw;
    padding:20px;
    .more-cases{
        padding-top:50%;
        padding:15px;
        background: #ddd;
        margin:30% 50%;
        animation:fadeLeft 3s both ease;
        animation-delay: 6s;
        h2{
            transform:rotate(-90deg);
            margin-top:80%;
            text-transform:uppercase;
            font-size:18px;
            font-weight: 100;
            line-height:1.5rem;
        }
    }

    .arrow-area{
        display: inline-block;
        i.arrow.right{
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            width:50px;
            height: 50px;
            transform: rotate(-45deg) translate(-250px,250px);
            animation:move 2s both ease infinite;
        }
    }
}

@media(max-width:750px){
    #cases{
        transform:translateY(-25%);
        .case{
            height:80vh;
            width:100vw !important;
            position:relative;
            padding:0;
            img{
                position:relative;
                width:100%;
                height:100px;
            }
        }
    }
}
#cases{
    display: flex;
    justify-content:space-around;
    .case{
        padding:30px;
        width:50vw;
        height:100vh;
        transition: .5s;
        &:hover ~ img{
            border:5px solid white;
            transform:scale(.9);
        }
        
        img{
            position: relative;
            width:70%;
            top:50%;
            height:50%;
            left:10%;
            transition:.5s;
            &:hover{
                transform:scale(.9);
            }
        }
        .case-title{
            text-transform: uppercase;
            padding-bottom: 10px;
            border-bottom: 3px solid #eee;
        }
    }

    .case.light{
        h1{
            color:#000;
        }
        p{
            color:#000;
        }
    }
    
    .case.dark{
        h1{
            color:#fff;
        }
        p{
            color:#fff;
        }
    }
}
.dark{
    background:#000;
}

.light{
    background: darken(#fff,20%);
}

.animated{
    position:absolute;
    height:100vh;
    top:0;
    left:0;
    display: flex;
    .animated-right{
        position: relative;
        height:100vh;
        background:#000;
        top:0;
        left:0;
        width:100vw;
        animation: slideBack 2s both ease;
    }
}

.transition{
    position:absolute;
    height:100%;
    display: flex;
    background:#000;
    transform: translateX(0);
    width:100%;
    z-index:11;
    box-shadow: 10px 10px 5px #eaeaea;
    transition:2s all ease-in-out;
    -webkit-transition:2s all ease-in-out;
    .welcome-text{
        margin:auto;
        color:#fff;
        animation:simplyFade 4s both ease;
    }
}
main#about{
    display: flex;
    z-index:-2;
    .dark{
        padding:20px;
        p{
            position: relative;
            top:65%;
            color:#fff;
        }
    }
    @media(max-width:750px){
        .dark{
            width:100vw !important;
            p{
               top:30%;
               line-height:1.5rem;
            }
        }
        .light{
            width:100vw !important;
            h1{
                transform: translateY(-50%);
                line-height:1.3rem;
                display: inline-block;
            }
            p{
                display: inline-block;
                margin-top:50px;
                top:10%;
                line-height:1.5rem;
                transform:translateY(-30%);
            }
        }
    }
    .light{
        padding:20px;
        .about-desc{
            position: relative;
            top:65%;
            color:#000;
        }
    }
}

.anim-trans {
    animation: anim 4s both ease-in-out;
    }
  
  @keyframes anim{
       0% {
        transform:  translateX(0);
        width:100%;
        z-index:11;
        box-shadow: 10px 10px 5px #eaeaea;
        }
       20%  { 
           transform: translateX(0);
            width:100%;
            z-index:11;
            box-shadow: 10px 10px 5px #eaeaea;
         }

       40%   { 
           transform: translateX(0);
           width:100%;
            z-index:11; 
            box-shadow: 10px 10px 5px #eaeaea;
        }

       60%   {
            transform: translateX(0);
            width:100%;
            z-index:11;
            box-shadow: 10px 10px 5px #eaeaea;
       }

       80%   {
            transform: translateX(-100%);
            width:60%;
            z-index:11;
            box-shadow: 10px 10px 5px #eaeaea;
        }

       100%   { 
           transform: translateX(-50px);
           width:0%;
           z-index:1;
           box-shadow: none;
        }
  }

  @keyframes simplyFade{
      to{
          opacity: 0;
      }
  }
@keyframes move{
    from{
        margin-left:-100px;    }
    to{
        margin-left:30%;    }
}

@keyframes slideUp{
    from{
        top:60%;
        opacity:0;
    }
    to{
        top:50%;
        opacity:1;
    }
}

@keyframes fadeLeft{
    from{
        transform:translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity:1;
    }
}